DATA:
  dataset : 'cifar_10'

  train_set : 'train'
  val_set : 'test'
  test_set : 'test'

  channel_first : True
  shuffle : True

  toy : False

#---------------------------------------------
SOLVER:
  epoch : 10
  batch_size : 16

#---------------------------------------------
CALLBACK:
  checkpoint:
    save_name : 'model'
    monitor : 'val_accuracy'
    verbose : 1

  plateau:
    flag_run : False
